/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background-color: rgb(235, 226, 226);
}

header {
  display:flex;
  justify-content:start;
  background-color: #ee8249;
  align-items:center;
  color:white;
  font-size:2rem;
}

header h2 {
  font-size:0px;
}

header img {
  height:5rem;
  margin:1rem 1rem 1rem 2rem;
}

header nav {
  display:flex;
  margin:1rem 2rem 1rem 1rem;
  margin-left: auto;
}

header h3 {
  font-size:0px;
}

header nav ul {
  display:flex;
  gap:2rem;
  list-style:none;
  font-size:1.2rem;
}

header nav ul li a {
  color:white;
  text-decoration:none;

}

header nav ul li a:hover {
  text-decoration:underline;
  color:#82e9e4;
}

main {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:auto;
  margin-top:2rem;
  margin-bottom:2rem;
  padding:2rem;
  border: 0.5rem solid #a4e2df;
  border-radius:1rem;
  width:65%;
  background-color: white;
}

main h1 {
  margin-bottom:1rem;
}

main .maincontainer {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:95%;
}

main .rotomsummary {
  display:flex;
  border-top:0.2rem solid #e6e6e6;
}

main .rotomsummarytext {
  display:flex;
  flex-direction:column;
  align-items:left;
  padding:2rem 2rem 2rem 0rem;
}

main .rotomsummarytext p {
  padding-bottom:1rem;
}

main .rotomsummarytext h2 {
  padding-bottom:1rem;
}

main .rotomimage {
  display:flex;
  align-items:center;
  width:150%;
  border: 0.2rem solid #000000;
  border-radius:1rem;
  margin:2rem 0 2rem 0;
}

main .rotombiology {
  display:flex;
  flex-direction:column;
  align-items:left;
  padding:2rem 0rem 2rem 0;
  border-top:0.2rem solid rgb(230, 230, 230);
}

main .biologyjustfirstpara h2 {
  padding-bottom:1rem;
}

main .biologyfirstparaandimg {
  display:flex;
  flex-direction:row;
  align-items:left;
}

main .biologyfirstpara {
  display:flex;
  flex-direction:column;
  align-items:left;
}

main .biologyjustpara p {
  padding:1rem 2rem 0 0;
}

main .biologyfirstparaandimg img {
  display:flex;
  align-items:center;
  height:350px;
  border: 0.2rem solid #000000;
  border-radius:1rem;
  margin:2rem 0 2rem 0;
}

main .rotomstats {
  display:flex;
  flex-direction:column;
  align-items:left;
  padding:2rem 0rem 2rem 0;
  border-top:0.2rem solid rgb(230, 230, 230);
  width:100%
}

main .allstatsbox {
  display:flex;
  flex-direction:row;
}

main .basestats {
  display:flex;
  flex-direction:column;
  width:50%;
  background-color: red;
  padding-right:1rem;
}

main .basestatstable {
  background-color: #FAE078;
  border:0.2rem solid #000000;
  border-radius:1rem;
}

main .basestatstable thead th:nth-child(1) {
  background-color: blue;
}

main .basestatstable thead th:nth-child(2) {
  background-color: blue;
}

main .basestatstable thead th:nth-child(3) {
  background-color: blue;
}

main .basestatstable thead th:nth-child(4) {
  background-color: blue;
}

main .basestatstable thead th:nth-child(5) {
  background-color: blue;
}

main .basestatstable thead th:nth-child(6) {
  background-color: blue;
}

main .formstats {
  display:flex;
  flex-direction:column;
  width:50%;
  background-color: blue;
  padding-left:1rem;
}



main .rotomforms {
  display:flex;
  flex-direction:column;
  align-items:left;
  padding:2rem;
  border-top:0.2rem solid rgb(230, 230, 230);
}

















footer {
  display:flex;
  justify-content:start;
  background-color: #ee8249;
  align-items:center;
  color:white;
  font-size:2rem;
}

footer h2 {
  font-size:0px;
}

footer img {
  height:5rem;
  margin:1rem 1rem 1rem 2rem;
}

footer .footernav {
  display:flex;
  margin:1rem 2rem 1rem 1rem;
  margin-left: auto;
  align-items:center;
  gap:2rem;
}

footer h3 {
  font-size:0px;
}

footer nav ul {
  display:flex;
  gap:2rem;
  list-style:none;
  font-size:1.2rem;
}

footer nav ul li a {
  color:white;
  text-decoration:none;

}

footer nav ul li a:hover {
  text-decoration:underline;
  color:#82e9e4;
}

footer .footernav p {
  font-size:1rem;
}